@charset "utf-8";

.background {
  font-family:calibri;
  margin:0;
  padding:0;
  background: url(fond-site.jpg) no-repeat center center fixed; 
  background-size: cover; 
}
.flecheg {
	position:fixed;
	top:0px;
	width:70px;
	height:70px;
}

.menu {
	display:block;
	position:fixed;
	bottom:10px;
	width:70px;
	height:70px;
	left:50%;
	margin-left:-45px;
}
.fleched {
	right:0px;
	top:0px;
	position:fixed;
	width:70px;
	height:70px;
}
.titre1 {
	box-shadow: 2px 2px 0px red;
	text-align:center;
}
.titre2 {
	text-decoration: underline;
	text-align:center
}


.matiere {
	display:block;
	margin:auto;
}

.chapitre a {
	display:block;
	width:150px;
	line-height:50px;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	background:url(boutonnoir.png) no-repeat;
	color:white;
	text-decoration:none;
}

.text-base{
   opacity:1;
}

.text-hover{
   display:none;
}

.chapitre a:hover span.text-base {
	opacity:0;
	background:url(boutonnoir2.png) no-repeat;
}

.chapitre a:hover span.text-hover {
	display:inherit;
	background:url(boutonnoir2.png) no-repeat;
}

.core {
	font-family:calibri;
	display:block;
	margin-left:20%;
	margin-right:20%;
	font-size: 1.3em;
}